#botoes {
    margin-top: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

body {
    font-size: 13px;
}

table {
    font-size: 14px;
}

#botoesBaixo {
    margin-top: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

#footer {
    margin-top: 20px;
}